.forum-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.posts-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}