.card-container{
  background-color: rgb(214, 210, 210);
  padding: 5px;
  border-radius: 10px;
}
.post-card{
    background-color: white
}
.post-body {
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .emoji {
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 100%;
    padding: 2px;
  }
  
  .post-content {
    display: grid;
    grid-template-columns: auto 1fr;
    flex: 1;
    background-color: white;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  .author-image{
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
  }
  .post-header{
    display: flex;
    gap: 10px;
  }
  .author-info{
    display: flex;
    flex-direction: column;
  }
  .post-actions{
    display: flex;
    gap: 20px;
    padding: 5px
  }
  .post-action-icon{
    width: 20px;
    height: 20px;
  }