.feed-container {
  margin: auto;
  padding: 1rem;
  font-family: sans-serif;
  width: 550px;
}
@media (min-width:768px) {
  .feed-container {
    width: 700px;
  }
}

.post-editor {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.post-editor textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: none;
  font-size: 1rem;
}

.post-editor button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}

.post-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
  padding: 1rem;
}
.ButtonGroup__root___3lEAn {
  display: flex !important;
  align-items: center;
}
.EditorToolbar__root___3_Aqz{
display: flex !important;
align-items: center;
}